@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
	background-image: url("../images/me-2.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: red;
    opacity: 0.8;
}

p {
    font-weight: 400;
    margin-right: 5em;
}

.social-media-badges{
	position: absolute;
	padding-top: 5em;
}

.social-media-badges a {
	opacity: 0.8;
	display: inline-block;
	padding: .3em .3em .6em .3em;
}

.business-card {
    padding-top: 25em;
    width: 100%;
    height: 70vh;
}

.email {
	width: 2.5em;
	height: 2.5em;
	background-image: url("../images/email.svg");
	background-repeat: no-repeat;
	margin-left: .25em;
}

.email:hover {
	background-image: url("../images/email-red.svg");
}

.linkedin {
	width: 2.5em;
	height: 2.5em;
	background-image: url("../images/linkdn.svg");
	background-repeat: no-repeat;
}

.linkedin:hover {
	background-image: url("../images/linkdn-red.svg");
}

.behance {
	width: 2.5em;
	height: 2.5em;
	background-image: url("../images/behance.svg");
	background-repeat: no-repeat;
}

.behance:hover {
	background-image: url("../images/behance-red.svg");
}

.instagram {
	width: 2.5em;
	height: 2.5em;
	background-image: url("../images/instagram.svg");
	background-repeat: no-repeat;
}

.instagram:hover {
	background-image: url("../images/instagram-red.svg");
}

@media only screen and (min-width: 25em) {
    .business-card {
        padding-top: 25em;
        width: 100%;
        height: 70vh;
    } 
}

@media only screen and (min-width: 45em) {
    .business-card {
        padding-top: 25em;
        width: 50%;
        height: 70vh;
    } 
}

@media only screen and (min-width: 60em) {
    .business-card {
        padding-top: 25em;
        width: 50%;
        height: 70vh;
    } 

    .social-media-badges {
	position: absolute;
	padding-top: 15em;
    }

}

@media only screen and (min-width: 80em) {
    .business-card {
        width: 30%;
    } 
    
    .social-media-badges {
	position: absolute;
    float: left;
    }

}
